html,
body {
  --SCALE_FACTOR: 2.5;
  --SPRITE_TILE_SIZE: 8px;
  --SCREEN_TILE_SIZE: calc(var(--SCALE_FACTOR) * var(--SPRITE_TILE_SIZE));

  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'BoldPixel';
  src: url('./resources/half_bold_pixel-7.ttf');
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
}